 <!-- // header partials for ejs templates -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<ul class="nav">
    <li><img src="https://img.icons8.com/cotton/64/000000/business-network.png"/></li>
    <li class="search"><button type="submit"><i class="fa fa-search"></i></button><input type="search"></li>
    <li>Profile</li>
    <li>Inbox</li>
    <li class="hamnav"><img src="https://img.icons8.com/plasticine/100/000000/menu.png"/></li>
</ul>